################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/-CSCN71020_A3
/CSCN71020-A3/.vs/CSCN71020-A3
